body{
	margin: auto;
}
img{
	position: fixed;
	top: 0;
	left: 0;
}

.back_btn{
	margin-top:10%;
	background-color: rgba(72, 46, 116, 0.53);
	color: white;
	font-size: 25px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.72);
	padding:1%;
	margin: 2%;
	display: inline-block;
}
.back_btn_container{
	text-align:center;
	margin:auto;
}
.back_btn:hover{
	cursor: default;
	background-color: rgba(0, 37, 90, 0.45);
	border: 1px solid rgba(255, 255, 255, 0.79);
}
.bullet_point{
	margin:13px;
}
.bread_crumb{
	display:inline-block;
	margin:10px;
	margin-top: 25px;
	color: white;
	font-size: 22px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.help_box{
	text-align: left;
	position: absolute;
	background-color:rgba(12, 13, 75, 0.95);
	font-size: 20px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: white;
	width:100%;
	z-index: 1;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.72);
}
.input_block{
	text-align:center;
}
.input_field{
	font-size: 15px;
	display: inline-block;
	width:230px;
}

.input_label{
	font-size: 22px;
	width:100px;
	padding:10px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	display: inline-block;
	margin: auto;
}
.input_pair{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 20px;
	color:white;
	display: inline-block;
	text-align: left;
	margin: 10px;
	vertical-align: middle;
}
.invalid_entry{
	border: 2px solid;
	border-color:red;
}
.item_container{
	background-color: rgba(123, 156, 226, 0.50);
	color: white;
	font-size: 25px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.72);
	display:inline-block;
	width:200px;
	padding:1%;
	margin: 2%;
	position: relative;
}
.item_container:hover{
	border: 1px solid rgba(255, 255, 255, 0.60);
	cursor: default;
	background-color: rgba(5, 6, 54, 0.60);
}
.item_container_selected{
	background-color: rgba(72, 46, 116, 0.90);
}
.item_container_selected:hover{
	background-color: rgba(81, 134, 238, 0.90);
}
.main_container{
	margin-top: 12%;
	text-align: center;
}
.price_opts{
	width: 25px;
	padding-right: 20px;
	text-align: right;
}
.question_mark_img{
	height: 20px;
	width: 20px;
	position: absolute;
}
.repair_opts{
	width: 150px;
	text-align: left;
}
.remove_opts{
	text-align: center;
	margin: 0px 10px 0px 10px;
	font-size: 20px;
	padding: 5px;
}
.remove_opts:hover{
	background-color: white;
	color:black;
	cursor: default;
}
.repair_opts_row{
	border: .5px solid rgba(255, 255, 255, 0.79);
	display:block;
	padding: 2% 2% 2% 2%;
	color:white;
	text-align: left;
	font-size: 20px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin: auto;
	width:200px;
}
.sub_container{
	position: relative;
	text-align:center;
	vertical-align: middle;
	margin:auto;
	width: 60%;
}
.table{
	text-align: left;
}
.text_area{
	font-family: 'Times New Roman', sans-serif;
	font-size: 20px;
	display:inline-block;
	width: 230px;
}
.top_progress_bar{
	background-color: black;
	height: 75px;
	margin: 3% 0px 0px 0px;
	opacity: .0;
	width: auto;
}
.triangle{
	color: black;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
    height: 0;
    border: solid 20px;
    border-radius: 3px;
    border-color: transparent white white transparent;
}
.triangle:hover{
    border: solid 20px;
    border-radius: 3px;
    border-color: transparent #1162ff #1162ff transparent;
}
.triangle_text{
	position: relative;
	padding-bottom:5px;
	font-size:22px;
	width:15px;
}